.header {
  position: relative;
  padding: 12px 0; 

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(159, 159, 159, 0.2);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}