.preview-portfolio {
  &__title {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 40px;
  }

  img {
    max-width: 620px;
    width: 100%;
    margin-bottom: 80px;
  }
}