.home {
  position: relative;
  padding-top: 105px;
  min-height: 800px;
  height: calc(100vh - 71px);

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    
    img {
      max-width: 100%;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  @media (max-width: 576px) {
    padding-top: 80px;
  }
}