.home {
  position: relative;
  padding-top: 105px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    
    img {
      max-width: 100%;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  @media (max-width: 576px) {
    padding-top: 80px;
  }
}